:root {
  --baby-blue: #C3E0E5;
  --orange: #EE6C4D;
  --white: #E0FBFC;
  --blue: #98C1D9;
  --black: #243763;
  --dark-blue: #274472;
  --light-white: #EDEEF7;
  --font: 'Space Grotesk', sans-serif; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: var(--font);
  font-size: 1.6rem;
  background-color: var(--light-white);
}

header {
  text-align: center;
  margin: 5rem;
}

fieldset {
  border: none;
}

/*
* Globals
*/
.btn {
  border: none;
  border-radius: 50%;
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
}

.btn:hover {
  cursor: pointer;
}

.calc-legend {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: right;
  text-transform: uppercase;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 120rem;
}

.calc {
  background-color: var(--black);
  border-radius: .5rem;
  padding: 2rem;
}

.display {
  color: var(--black);
  background-color: var(--blue);
  border: none;
  border-radius: .2rem;
  font-size: 10rem;
  margin: 5rem 0 5rem 0;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.specials {
  display: flex;
  gap: 2rem;
}

.numbers {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.operators{
  display: grid;
  gap: 2rem;
}

.btn-number {
  color: var(--black);
  background-color: var(--white);
}

.btn-operator {
  background-color: var(--orange);
}

.btn-total {
  background-color: var(--baby-blue);
}

@media (min-width: 728px) {
  .calc {
    max-width: 40%;
  }
}